<header class="home-header">
  <a href="/" class="home-logotype"><h1>Chimera</h1></a><a href="/" class="home-logobadge"><img src="/img/LOGO_chimera.svg" eleventy:ignore alt="The Chimera logo, a stylized CMYK-colored heraldric chimera"/></a>
  <a href="/" class="home-logocollective"><h2>Comics Collective</h2></a>
  <nav class="home-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/resources">Resources</a></li>
    </ul>
  </nav>
</header>
