:root {
--bg-color: ${lightMode === "light" ? "#292929" : "#3d3d3d"};
--text-color: ${lightMode === "light" ? "#B3B3B3" : "#ABABAB"};
}

#chimebar {
  margin: 1rem auto;
  display: table;
  flex-direction: column;
  position: relative;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  max-width: calc(100vw - 2rem);

  > a.logo {
    display: block;
    background-image: linear-gradient(180deg, var(--text-color) -90%, var(--bg-color) 90%);
    font-size: 2.2rem;
    padding: 0;
    mask-image: url('data:image/svg+xml;utf8,<svg height="350.307" viewBox="0 0 837.998 350.307" width="837.998" xmlns="http://www.w3.org/2000/svg"><path d="m243.177 24q29.114 0 50.354 20.691.55.549.55 1.099 0 .549-.367 1.098-.366.733-1.098.733-.366 0-.916-.367-14.099-6.774-28.015-6.774-3.479 0-6.592.366-14.648 1.831-24.536 13.183-9.704 11.17-9.704 26.734v112.243q0 14.283 4.028 26.917.732 2.38 2.563 2.38.916 0 1.831-.366c8.409-3.528 17.152-6.168 26.083-7.972v-120.433q0-4.578-3.296-7.507-3.113-2.564-6.592-2.564-1.465 0-2.746.367l-.55-.001q-.915.001-1.281-.915-.367-.549-.367-.916 0-.549.55-1.098l28.564-28.382q1.282-1.281 2.381-1.281 1.281 0 2.38 1.282l13.55 13.366q.915.916.915 2.381v48.889q0 1.648 1.465 2.746.733.55 1.831.55.549 0 1.099-.183l26.916-9.156q.733-.183 1.282-.183 1.282 0 2.197.916l14.466 14.282q.915.915.915 2.38v92.285c.07 1.588-.024.87.224 2.162l.427.267c3.625 2.181 6.637 5.068 9.448 8.184 1.5-.054.715 0 2.352-.176q.367-.366.55-.366.915 0 1.464.916.367.732.367.915 0 .733-.733 1.282l-1.213 1.213c1.197 1.618 1.87 3.526 2.495 5.418v-86.831q0-4.944-3.845-7.874-2.93-2.197-6.043-2.197-1.281 0-2.746.366h-.55q-.915 0-1.281-.915-.367-.55-.367-.916 0-.549.55-1.098l28.564-28.382q1.282-1.282 2.381-1.282 1.281 0 2.38 1.282l13.55 13.367q.915.915.915 2.38v11.597l.183-.244 28.565-28.382q1.282-1.281 2.38-1.281 1.282 0 2.381 1.281l8.972 8.79q1.098 1.098 2.38 1.098.549 0 1.099-.183l33.325-11.353q.732-.183 1.282-.183 1.281 0 2.197.916l9.888 9.705q1.098 1.098 2.38 1.098.549 0 1.099-.183l33.508-11.353q.732-.183 1.282-.183 1.281 0 2.197.916l14.282 14.282q.916.916.916 2.381v92.285q0 5.676 4.394 8.789 2.381 1.831 5.493 1.831 1.465 0 2.564-.366.366-.184.732-.184.916 0 1.282.916c.357.715.241.347.366 1.098v-95.947q0-2.38 2.198-3.112l62.805-22.156q.732-.183 1.281-.183 1.282 0 2.198.915l14.282 14.282q.916.916.916 2.381l-.001 11.72 28.382-28.2q1.282-1.281 2.38-1.281 1.282 0 2.381 1.281l8.972 8.789q1.098 1.099 2.38 1.099.549 0 1.099-.183l33.691-11.536q.549-.183.916-.183 1.098 0 2.014.733 3.296 2.563 7.324 2.563 1.831 0 3.845-.549l4.761-1.282h.549q1.099 0 1.465.916.366.549.366.915 0 .733-.549 1.282l-5.649 5.595 1.804 1.546q1.831 1.465 2.93 1.831 2.014 1.099 4.211 1.099 1.648 0 3.296-.55l37.17-12.268q.55-.183 1.099-.183 1.282 0 2.197.916l14.099 13.549q1.099.916 1.099 2.381v92.102q0 5.859 4.211 8.972 2.564 1.831 5.677 1.831 1.281 0 2.563-.183l.549-.183q.367-.183.55-.183.915 0 1.281.915l.183.733q.001.732-.549 1.282l-28.747 28.747q-1.099 1.099-2.381 1.099-1.098 0-2.38-1.099l-8.972-8.972q-1.099-1.099-2.381-1.099-.549 0-1.098.183l-33.509 11.536q-.549.183-1.098.183-1.282 0-2.38-1.099l-14.283-14.099q-.915-1.098-.915-2.38v-71.777q0-2.564 2.38-3.296l45.41-14.099q2.381-.733 2.381-3.113v-11.353q0-1.465-.916-2.38l-5.493-5.493q-.916-.916-2.197-.916-.55 0-1.099.183l-12.268 3.662q-1.465.55-2.93.55-2.38 0-4.577-1.282-3.846-1.831-4.944-5.859l-2.744-8.689-10.989 10.886q-4.578 4.761-11.353 4.761-6.591 0-11.352-4.761-.916-.916-2.197-.916-.55 0-1.099.183l-4.578 1.282q-2.38.733-2.38 3.296v82.398q0 5.859 4.394 8.789 2.381 1.831 5.494 1.831 1.281 0 2.563-.183.366-.367.549-.367.916 0 1.465.916.366.732.366.915 0 .733-.732 1.282l-28.564 28.565q-1.099 1.098-2.381 1.098-1.098 0-2.38-1.098l-13.367-13.367q-.915-1.099-.915-2.38v-93.018q0-4.944-3.846-7.874-2.929-2.197-6.042-2.197-1.282 0-2.747.366h-.549c-.623-.084-.308.026-.916-.408v55.523q.001 2.381-2.197 3.296l-45.776 15.747q-2.197.916-2.197 3.296v12.085q0 1.282.915 2.38l5.493 5.494q.916.915 2.198.915.549 0 1.281-.183l12.085-3.662q1.465-.549 2.93-.549 2.38 0 4.578 1.281 3.845 1.831 4.943 5.86l3.296 10.254.183.366v.366q0 .732-.732 1.099-.549.549-1.099.549-.366 0-.915-.549l-3.296-2.564q-2.93-2.746-6.409-2.746-1.648 0-3.296.732l-36.987 12.268q-.549.183-1.099.183-1.281 0-2.38-1.099l-14.282-14.099q-.916-1.098-.916-2.38v-14.465c-.193.771-.024.398-.549 1.098l-28.565 28.565q-1.098 1.098-2.38 1.098-1.098 0-2.38-1.098l-13.55-13.367q-.916-1.099-.916-2.38v-104.371q0-1.464-.915-2.38l-5.493-5.493q-1.099-1.099-2.381-1.099-.366 0-.915.183l-4.578 1.465q-2.38.733-2.38 3.296v82.398q0 5.127 3.662 8.239 2.747 2.381 6.226 2.381 1.281 0 2.563-.366.366-.184.549-.184.916 0 1.465.916.366.549.366.916 0 .732-.732 1.281l-28.565 28.565q-1.098 1.098-2.197 1.098-1.282 0-2.563-1.281l-13.367-13.184q-.915-1.099-.915-2.38v-104.371q0-1.464-.916-2.38l-5.493-5.493q-1.099-1.099-2.381-1.099-.366 0-.915.183l-4.578 1.465q-2.38.733-2.38 3.296v82.398q0 5.127 3.662 8.239 2.747 2.381 6.226 2.381 1.281 0 2.563-.366.366-.184.549-.184.916 0 1.465.916.366.549.366.916 0 .732-.732 1.281l-28.564 28.565q-1.099 1.098-2.198 1.098-1.281 0-2.563-1.281l-13.367-13.184q-.915-1.099-.915-2.38v-11.902c-.117.204-.023.059-.367.366l-28.564 28.564q-1.099 1.099-2.38 1.099-1.099 0-2.381-1.099l-13.128-13.128-.137 1.275q-1.465 16.113-20.142 27.465-20.874 12.452-53.649 12.452-26.368 0-50.171-13.55-.733-.549-1.648-.549-.733 0-1.648.549-18.494 10.071-35.156 10.071-5.677 0-11.17-1.099-6.226-1.465-12.085-4.211-.732-.367-1.465-.367-1.098 0-2.197.916-25.452 20.874-42.297 30.212-25.269 13.733-49.622 13.733-19.226 0-32.593-8.423-12.268-7.873-17.029-21.057-2.563-7.141-2.563-14.831 0-5.86 1.648-12.452 4.028-15.014 15.93-26.916.733-.732 1.465-.732l.366-.001q.916.001 1.648.733.733.549.733 1.465 0 .915-.733 1.831-8.057 7.873-8.606 17.395v1.465q0 8.056 5.127 15.564 5.493 7.873 14.832 12.817 9.887 4.944 20.874 4.944 33.325 0 74.341-26.733 1.647-1.099 1.647-2.564 0-1.099-1.098-2.38-13.001-15.747-13.001-36.804v-76.539q0-4.76-3.845-7.69-2.746-2.197-5.859-2.197-1.099 0-2.381.366l-.915.183h-.549q-.916 0-1.282-.732-.366-.55-.366-.916 0-.549.549-1.099l14.648-14.648q0-4.761-3.845-7.69-2.746-2.198-5.859-2.198-1.282 0-2.381.367l-.915.183h-.549q-.733 0-1.282-.733l-.183-.732q0-.733.549-1.282l28.748-28.748q1.281-1.281 2.38-1.281 1.282 0 2.38 1.282l8.972 8.972q1.099 1.098 2.381 1.098.549 0 1.098-.183l16.297-5.127q2.38-.732 2.38-3.113v-3.479q0-2.014.183-3.845.183-4.944.916-9.338 1.648-11.902 6.225-20.874 12.818-25.635 46.509-25.635zm61.89 212.585h-2.564l-.005.001-.645.684q-2.93 2.93-10.254 10.071l-3.296 3.296q-2.198 2.38-3.662 3.662-4.578 4.394-8.24 8.239-.733.733-2.014.733h-.733q-1.098 0-2.014-.733l-8.174-8.173c-1.979 1.43-.892.643-3.26 2.362q-1.282.916-1.282 2.564v.366q0 1.831 1.648 2.746 16.114 9.339 34.241 9.339h1.282q22.155-.366 36.621-8.423 13.55-7.507 13.916-17.395v-.55c-.077-1.7.02-.837-.308-2.588l-19.752 19.752q-1.099 1.099-2.381 1.099-1.098 0-2.38-1.099l-13.367-13.366q-.915-1.099-.915-2.381v-10.13zm-100.525 16.846q-1.099 0-2.197.916l-1.282.915q-1.465.916-1.465 2.381 0 .732.366 1.464.733 2.198 3.113 2.198h2.197q2.015-.183 2.93-2.014.183-.733.183-1.465 0-1.099-.732-2.014l-.733-.916q-1.098-1.465-2.38-1.465zm-18.311-121.948q-.732 0-1.281.183l-9.888 3.113q-2.38.732-2.38 3.113v93.2q0 10.071 5.493 17.762 1.282 1.648 2.563 1.648 1.099 0 2.198-.733 6.408-4.394 12.085-8.057 1.647-.915 1.647-2.38 0-.915-.732-2.014-3.113-6.226-4.944-17.212-1.648-9.338-1.648-17.944v-67.383q0-1.648-1.282-2.747-.915-.549-1.831-.549zm71.127 93.047c-7.466 1.57-14.43 4.865-21.322 8.027q-2.014 1.099-2.014 2.747 0 .915.732 2.197 2.747 4.578 6.409 8.606 1.099 1.282 2.38 1.282.733 0 1.648-.366l3.479-1.832 5.677-2.929 3.011-1.465zm499.512-51.53q-.55 0-1.099.183l-4.578 1.282q-2.38.732-2.38 3.296v54.382q0 1.282.916 2.38l5.493 5.494q.915.915 2.197.915.549 0 1.282-.183l4.394-1.282q2.381-.732 2.381-3.296v-54.382q0-1.465-.916-2.38l-5.493-5.494q-.916-.915-2.197-.915zm-366.944-31.128v78.918q0 5.86 4.395 8.789 2.38 1.832 5.493 1.832 1.282 0 2.563-.184.367-.366.55-.366.915 0 1.465.916v-79.285q0-4.944-3.846-7.873-2.929-2.198-6.225-2.198-1.099 0-2.564.367l-.549-.001q-.915.001-1.282-.915zm-99.06 78.909v.009c-.017 3.067 1.12 5.842 3.351 7.947 2.713-.22 1.355-.151 4.075-.208 3.103-.026 6.197.327 9.237.933v-7.433c-5.522-.798-11.094-1.061-16.663-1.248zm8.057-87.149q-.549 0-1.099.183l-4.577 1.282q-2.198.732-2.381 3.113v72.413c5.587-.076 11.121.597 16.663 1.159v-69.361q0-1.465-.916-2.38l-5.493-5.493q-.915-.916-2.197-.916zm295.715-.732q-.549 0-1.098.183l-4.578 1.282q-2.38.732-2.38 3.296v61.34q0 1.648 1.281 2.563.916.733 2.015.733.549 0 1.098-.183l9.888-3.113q2.38-.733 2.38-3.113v-54.199q0-1.465-.915-2.38l-5.494-5.494q-.915-.915-2.197-.915zm-408.773-28.334q-.366 0-.915.184l-9.888 3.112q-2.38.733-2.38 3.296v5.677q0 1.647 1.281 2.746 1.099.733 2.198.733.366 0 .915-.184l9.888-3.112q2.38-.733 2.38-3.113v-5.86q0-1.647-1.282-2.746-1.098-.733-2.197-.733z"/><path d="m373.71 49.655c1.414.653.858.265 1.751 1.03l17.029 17.212q1.281 1.099 1.281 2.381 0 1.098-1.281 2.38l-17.029 16.846q-1.099 1.098-2.38 1.098-1.099 0-2.381-1.098l-16.846-16.846q-1.281-1.282-1.281-2.563 0-1.099 1.098-2.198l17.029-17.029q1.282-1.281 2.381-1.281z" fill="black"/></svg>');
    mask-repeat: no-repeat;
    mask-size: contain;
    margin: 0 0 -0.35em -0.6em;
    overflow: hidden;
    text-indent: -999vw;
    line-height: 1.212;
  }

  &[data-dir="up"] {
    padding-bottom: 2.2rem;

    > a.logo {
      position: absolute;
      bottom: 0.75rem;
      left: 0;
      width: 100%;
      background-image: linear-gradient(180deg, var(--bg-color) 45%, var(--text-color) 180%);
    }
  }

  > a.logo:hover ~ .description {
    visibility: visible;
  }

  ul li {
    &:hover small {
      visibility: visible;
    }

    small {
      padding: 0.5rem 0.75rem 1.25rem 0.75rem;
      background-color: var(--bg-color);
      box-shadow: 0 -16px 0 0 var(--bg-color);
      color: var(--text-color);
      border-radius: 0 0 0.75vw 0.75vw;
      position: absolute;
      top: calc(100% + 6px);
      left: 0;
      width: 100%;
      visibility: hidden;
      padding: 0.5rem 0.75rem 0.5rem 0.75rem;
      box-shadow: 0 0 0px 3px var(--bg-color), 0 -12px 0px 3px var(--bg-color);
    }
  }

  > .description {
    padding: 0.5rem 0.75rem 1.25rem 0.75rem;
    background-color: var(--bg-color);
    box-shadow: 0 -16px 0 0 var(--bg-color);
    color: var(--text-color);
    border-radius: 0 0 0.75vw 0.75vw;
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    width: 100%;
    visibility: hidden;
  }

  &[data-dir="up"] {
    > .description {
      top: auto;
      bottom: calc(100% + 5px);
      border-radius: 0.75vw 0.75vw 0 0;
    }

    ul li small {
      top: auto;
      bottom: calc(100% + 5px);
      border-radius: 0.75vw 0.75vw 0 0;
      padding: 0.75rem 0.75rem 0.75rem 0.75rem;
      box-shadow: 0 0 0px 3px var(--bg-color), 0 12px 0px 3px var(--bg-color);
    }

    > .description {
      padding: 1rem 0.75rem 0.75rem 0.75rem;
      box-shadow: 0 16px 0 0 var(--bg-color);
    }
  }

  > .description strong {
    font-weight: bold;
    text-transform: uppercase;
  }

  ul {
    li {
      small {
        strong {
          font-weight: bold;
          text-transform: uppercase;
        }

        p {
          margin-block-start: 0.25rem;
          margin-block-end: 0.5rem;
        }
      }

      a {
        display: block;
        box-shadow: 0 0 0px 2px var(--bg-color);
        border-radius: 0.5vw;
        overflow: hidden;
        position: relative;
        transition: transform 0.125s cubic-bezier(0.25, 0, 0, 1);
        z-index: 1;

        &:hover {
          box-shadow: 0 0 0px 4px var(--bg-color);
          transform: scale(1.15);
          z-index: 2;
        }

        img {
          display: block;
          max-width: 100%;
          height: auto;
        }
      }
    }

    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 3px;
    border: 3px solid var(--bg-color);
    border-radius: 0.75vw;
    background-color: var(--bg-color);
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  #chimebar ul li:nth-child(n+8) {
    display: none;
  }
}