/* Our default values set as CSS variables */
:root {
  --color-bg: #dddddd;
  --color-text-main: #000000;
  --color-primary: #afece0;
  --wrapper-height: calc(100dvh - 2rem);
  --image-max-width: 320px;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}


/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027") format("opentype");
}

@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437") format("opentype");
}

/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}

.footer a:link,
a:visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  border-style: none;
}

.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

/* Page structure */
body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .wrapper {
    min-height: var(--wrapper-height);
    place-items: center;
    margin: 2rem;
    max-width: 72rem;
  }
}

/* Typography */
p {
  margin: 0 0 1rem 0;
  line-height: 1.5 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-family-header);
  font-weight: 600;
  line-height: 1.1;
  color: var(--color-text-main);
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.1rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

ul > li,
ol > li,
menu > li {
  list-style-type: none;
}

ul,
menu,
figure {
  padding: 0 0 0 0;
  margin: 0;
}

/* Link styles */
a:link,
a:visited {
  text-decoration: none;
  color: var(--foreground);
  transition: background 0.1s linear;
}

a:hover {
  color: #666;
}

/* Home */

.home-header,
.comic-header {
  display: grid;
  grid-template-columns: 25fr 75fr;
  column-gap: 1.5rem;
  grid-template-areas:
    "logo logotype"
    "logo navbar";
  height: auto;
  margin-bottom: 2rem;

  .home-logo {
    grid-area: logo;
    /* width: 20vw; */

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .home-logotype {
    grid-area: logotype;
    align-content: end;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .home-nav {
    grid-area: navbar;
    align-content: end;

    ul {
      text-transform: uppercase;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      & > li {
        font-size: 2vw;

        a {
          padding: 0.5rem;
          font-weight: bold;
        }
      }
    }
  }
}

.wrapper.home {
  .promo-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;

    ul > li:not(.show) {
      display: none;
    }

    .banner-block {
      margin-bottom: 2rem;

      .banner-image {
        display: block;
        overflow: hidden;
        border-radius: 1rem;

        img {
          width: 100%;
          height: auto;
        }
      }

      .banner-caption {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 0.25rem;

        .banner-title {
          font-size: 3.6vw;
          font-weight: bold;
          text-transform: uppercase;
        }

        .banner-credit {
          font-size: 2.8vw;
          text-align: right;
        }
      }
    }
  }

  .comic-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vw;

    & > li {
      display: block;
      position: relative;
      transition: transform 0.125s cubic-bezier(0.25, 0, 0, 1);
      width: calc(25% - 1vw);

      &:hover {
        transform: scale(1.15);
        z-index: 1;

        .comic-thumb {
          box-shadow: 0 0 0px 10px var(--color-bg);
        }
      }

      .comic-thumb {
        display: block;
        border-radius: 1vw;
        overflow: hidden;
        transition: transform 0.25s cubic-bezier(0.25, 0, 0, 1);
        box-shadow: 0 0 0px 0px var(--color-bg);


        img {
          display: block;
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
}

.comic-header {

  .comic-logo {
    width: 50vw;
    height: auto;
  }
}

.comic-main {
  display: grid;
  column-gap: 3rem;
  row-gap: 2rem;
  grid-template-columns: 3fr 2fr;
  grid-template-areas:
    "banner banner"
    "desc titlebar"
    "desc sidebar"
    "desc empty";

  .banner-image {
    grid-area: banner;

    img {
      width: 100%;
      height: 20vw;
      object-fit: cover;
    }
  }

  .comic-desc {
    grid-area: desc;

    .description-content {
      margin-bottom: 2rem;

      p {
        font-size: 1.05rem;
      }
    }

    .cover-block {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
      grid-template-areas:
        "comic-cover cover-ops";

      .cover-image {
        display: block;
        grid-area: comic-cover;
      }

      img {
        max-width: 100%;
        height: auto;
      }

      .cover-ops {
        grid-area: cover-ops;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .cover-op {
          display: block;
          font-size: 1.1rem;
          font-weight: bold;
          padding: 0.5em 1em;
          cursor: pointer;

          &:hover {
            background-color: #ccc;
          }
        }
      }
    }
  }

  .comic-titlebar {
    grid-area: titlebar;

    .title {
      font-size: 1.333rem;
      margin-bottom: 0.25em;
    }

    .credits {
      font-weight: normal;
      font-size: 1rem;
    }

  }

  .sidebar {
    grid-area: sidebar;

    .related {
      margin: 0.5rem 0 0 0;

      dt {
        text-transform: uppercase;
        font-size: 0.9rem;
        font-style: italic;
        margin-left: -0.125em;
      }

      dd {
        font-size: 1.1rem;
        margin: 0;
        font-weight: bold;
        display: inline-block;

        &:has(+ dd)::after {
          content: ",";
          margin-right: 0.333em;
          font-weight: normal;
        }

        a {
          text-decoration: underline;
        }

        a[href*="ko-fi.com"],
        a[href*="patreon.com"],
        a[href*="paypal.com"],
        a[href*="gofundme.com"] {
          .link {
            display: inline-block;
            width: 0;
            overflow: hidden;
            text-indent: -999vw;
          }

        }

        a[href*="ko-fi.com"] {
          &::before {
            content: "Ko-Fi"
          }
        }

        a[href*="patreon.com"] {
          &::before {
            content: "Patreon"
          }
        }

        a[href*="paypal.com"] {
          &::before {
            content: "PayPal"
          }
        }

        a[href*="gofundme.com"] {
          &::before {
            content: "GoFundMe"
          }
        }


      }

      dt + dd {
        /* margin-left: 0.125em; */

        &::before {
          content: none;
        }
      }

      dd + dt {
        margin-top: 0.75em;
      }

    }
  }
}

@media only screen and (max-width: 767px) {
  main {
    .wrapper {
      margin: 0.5rem 0.5rem 0;
    }
  }

  .home-header,
  .comic-header {
    height: auto;
    margin-bottom: 1.5rem;
    grid-template-columns: 21fr 79fr;
    column-gap: 1rem;
    grid-template-areas:
      "logo logotype"
      "navbar navbar";

    .home-nav {
      ul {
        margin-top: 1rem;

        & > li {
          font-size: 5vw;
        }
      }
    }
  }

  .wrapper.home {
    .promo-banner {
      .banner-block {
        margin-bottom: 1.5rem;

        .banner-image {
          overflow: hidden;
          border-radius: 2rem;

          img {
            width: 100%;
            height: auto;
          }
        }

        .banner-caption {
          .banner-title {
            font-size: 4.8vw;
          }

          .banner-credit {
            font-size: 3.6vw;
          }
        }

      }
    }

  }

  .wrapper.home .comic-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;

    & > li {
      display: block;
      width: calc(50% - 0.5rem);

      .comic-thumb {
        display: block;

        img {
          display: block;
          object-fit: cover;
          border-radius: 1vw;
        }
      }
    }
  }

  .comic-main {
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 1rem;
    grid-template-areas:
      "banner"
      "titlebar"
      "desc"
      "sidebar";

    .comic-desc {

      .cover-block {
        grid-template-columns: 4fr 3fr;
      }

      .description-content {
        margin-bottom: 1.5rem;

      }
    }