---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="campaign">
  <h6 class="campaign-title">
  {{label}}
</h6>
  <figure class="image-block">
  <a href="{{link}}" target="_blank"><img src="{{image}}" alt="{{label}}" /></a>
  <figcaption class="image-caption">
    {{blurb}}
  </figcaption>
</figure>
</div>