---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="wrapper comic-page">
  <header class="comic-header">
    <a href="/" class="home-logotype"><img src="/img/LOGO_home-cyan.png" alt="Chimera Comics Collective" width="2169" height="601" /></a>
    <nav class="home-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/resources">Resources</a></li>
      </ul>
    </nav>
  </header>
  <div class="comic-main">
    <section class="banner-image">
      <a href="{{site}}" target="_blank">
        {% if banner %}<img src="{{banner}}" alt="{{title}}"/>
        {% else %}<img src="{{thumbnail}}" alt="{{title}}"/>
        {% endif %}
      </a>
    </section>
    <article class="comic-desc">
      <div class="description-content">{{ content | safe }}</div>
      <div class="cover-block">
        <div class="cover-image">
          <a href="{{site}}" target="_blank">
            <img
              src="{{cover}}"
              alt="{{title}}"
              sizes="22vw"
              eleventy:widths="360,720"
            />
          </a>
        </div>
        <menu class="cover-ops">
          <li>
            <a href="{{site}}" class="cover-op" target="_blank">
              Jump to the Latest page
            </a>
          </li>
          <li>
            <a href="{{start_page}}" class="cover-op" target="_blank">
              Start from the First page
            </a>
          </li>
          <li>
            <a href="{{about_page}}" class="cover-op" target="_blank">
              Visit the About page
            </a>
          </li>
        </menu>
      </div>
    </article>
    <section class="comic-titlebar">
      <h3 class="title">
        <a href="{{site}}" target="_blank">{{title}}</a>
      </h3>
      <h4 class="credits">By <cite class="credit">{{credits}}</cite></h4>
    </section>
    <aside class="sidebar">
      <h5>Related:</h5>
      <dl class="related">
        <dt>Genre:</dt>
        {{genre | toDD | safe }}
        <dt>General Tags:</dt>
        {{general_tags | toDD | safe }}
        <dt>Update status:</dt>
        <dd>{{update_status}}</dd>
        {% if other_works %}
        <dt>Other works:</dt>
        {{other_works | toDDFromTitle(collections.comics) | safe }}
        {% endif %}
				{% if merch %}
        <dt>Merch:</dt>
        {{merch | toDD | safe }}
        {% endif %} 
				{% if support %}
        <dt>Support:</dt>
        {{support | toDD | safe }}
				{% endif %}
				{% if social %}
        <dt>Social Media:</dt>
        {{social | toDD | safe }}
        {% endif %}
      </dl>
    </aside>
  </div>
</div>
