---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# The Home page uses this template–it extends the base template #}

<div class="wrapper home">
  <header class="home-header">
    <a href="/"><img class="home-logo" src="../../../img/chimeracomicscollective.png" alt="chimeracomicscollective" width="2400" height="684" /></a>
    <nav>I guess we would have a navbar with tags or categories?</nav>
  </header>
  <div class="content">
    {{ content | safe }}
    
    {# After the the content defined in index.md, list the blog posts in the collection #}
    <ul>
      {%- for comic in collections.comics -%}
      <li{% if page.url == comic.url %} aria-current="page"{% endif %}>
        <a class="comic-thumb" href='{{ comic.url }}'><img src='{{comic.data.thumbnail}}' alt='{{comic.data.title}}' /></a>
      </li>
      {%- endfor -%}
      
    </ul>
  </div>
</div>

{#
<!-- 
      <li{% if page.url == comic.url %} aria-current="page"{% endif %}>
        <div class="comic-title"><a href='{{ comic.data.site }}'>{{ comic.data.title }}</a> by <cite class="credit">{{comic.data.credits}}</cite></div>
        <div class="comic-desc">{{ comic.content | safe }}</div>
        <a class="comic-thumb" href='{{ comic.data.site }}'><img src='{{comic.data.thumbnail}}' alt='{{comic.data.title}}' /></a>
      </li>
 -->
#}