---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# The Home page uses this template–it extends the base template #}

<div class="wrapper home">
  <header class="home-header">
    <a href="/" class="home-logotype"><img src="/img/LOGO_home-cyan.png" loading="eager" sizes="95vw"
    eleventy:widths="960,1920" width="2169" height="601" alt="Chimera Comics Collective"/></a>
    <nav class="home-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/resources">Resources</a></li>
      </ul>
    </nav>
  </header>
  <div class="content">
    {{ content | safe }}
  </div>
</div>
