---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# The About page uses this template and you can customize / use it for any new pages you add #}

<div class="wrapper">
  <header class="comic-header">
    <a href="/" class="home-logo"><img src="/img/LOGO_chimera.png" alt="LOGO_chimera" width="797" height="684" /></a>
    <a href="/" class="home-logotype"><img src="/img/LOGOTYPE_comics-collective.png" alt="LOGOTYPE_comics-collective" width="1453" height="311" /></a>
    <nav class="home-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/store">Store</a></li>
      </ul>
    </nav>
  </header>
  <div class="content">
    {{ content | safe }}
  </div>
</div>