---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# The About page uses this template and you can customize / use it for any new pages you add #}

<div class="wrapper">
  <header class="comic-header">
  <a href="/" class="home-logotype"><img src="/img/LOGO_home.png" alt="Chimera Comics Collective" width="2169" height="601" /></a>
  <nav class="home-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/store">Store</a></li>
    </ul>
  </nav>
</header>
  <div class="content">
    {{ content | safe }}
  </div>
</div>